.checkout__ad{
    width:100%;
    margin-bottom: 10px;
    
}
.checkout{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background-color: white;
    height:max-content;
}
.checkout__left{
    
    justify-content: center;
}